<!DOCTYPE html>
<html lang="en">
<!-- portfolio site -->
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-site-verification" content="YLGgfDelzi79EOQBUccV-x5DhAavIU_Y3VnNcY4ygzc" />

    <title>BENNETTE SEBASTIAN</title>


    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <% stylesheet_link_tag("animate.min.css") %>
    <!-- <link rel="stylesheet" href="css/animate.min.css" type="text/css"> -->


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">BENNETTE SEBASTIAN</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                  
                
             </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">About</h2>
                    <hr class="light">
                    <p class="text-faded">Have a look at some of my work</p>
                    <p>I love paisley. That's where it started.<br /> Now, thirteen years after I learned how to do hena body illustration from a Pakistani friend of mine, it influences the way I take in the living, breathing, changing world around me. The way I see beautiful decoration is in a combination of visual motifs and lines drawn by a skilled hand. So, when I imbue living spaces, I try to do it in a way the ivy covers old brick buildings, and in the way some graffiti suggests that the metro car on which it's painted carries living things from once place to another. My projects disregard the given ninety-degree angles and flat, bland surfaces an observer expects to see in the room they enter.<br />There's something about the places we become familiar with, that becomes a part of the way we think every time we're in them. Our offices at work, the bathrooms we use every day, living rooms and kitchens that welcome us with memeories, and the ambience in these places is greatly important, considering we spend so much of our lives in them. For years I have refused to accept a plain wall as it is, and why would I, when it has the ability to reflect the way I want to feel most of the time?<br />If you are inclined to make the inside or outside of your building appear exactly as you want it to lok let's discuss how e can make your project set a palpable atmosphere for creatativity and progress. How the room you want to change could open the minds of your guests before they open their mouths. How the area in question should make you happy to return to it, if at times for nothing more than the wordly aesthetic so distruptive to a circular train of thought.<br />Past houses and homes, my objective with interior painting is crative dwelling aereas that encourage all who enter to reminisce on their travels, focus on their passions, and conjure peace of mind like time spent with best friends.<br />Thanks for taking the time to read this. Happy living.<br /> Bennette   </p>
                    </p>
                    <a href="#portfolio" class="page-scroll btn btn-default btn-xl">Portfolio</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Projects -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-4 text-center">
                    <a id="p1" class="btn btn-primary btn-xl">Bar</a>
                </div>
                <div class="col-lg-4 col-sm-4  text-center">
                    <a id="p2" class="btn btn-primary btn-xl">Living Room</a>
                </div>
                <div class="col-lg-4 col-sm-4  text-center">
                    <a id="p3" class="btn btn-primary btn-xl">Salon</a>
                </div>
            </div>
        </div>
    </section>

<!-- DB projects -->
    <% @projects.each do |project| %>
        <%= project.id %>
        <%= project.title %><br />
        <% project.photos.each do |p| %>
          <%= image_tag p.slide %> Photo
          <% end %>
        <% end %>




<!-- Slideshow -->
    <section id="slideshow">
        
            
              <div class="diy-slideshow current project1">
                <figure class="show">
                    <%= image_tag("bar/bar1.JPG", :width=>"100%") %><figcaption>"Bar1"</figcaption> 
                </figure>
              <figure>
                <%= image_tag("bar/bar2.JPG", :width=>"100%") %><figcaption>"Bar2"</figcaption> 
                </figure>
                <figure>
                <%= image_tag("bar/bar3.JPG", :width=>"100%") %><figcaption>"Bar3"</figcaption> 
                </figure>
                <figure>
                <%= image_tag("bar/bar4.JPG", :width=>"100%") %><figcaption>"Bar4"</figcaption> 
                </figure>
                <figure>
                <%= image_tag("bar/bar5.jpg", :width=>"100%") %><figcaption>"Bar5"</figcaption> 
                </figure>
               <span class="prev">&laquo;</span>
                <span class="next">&raquo;</span>
              
              
            </div> 


            <div class="diy-slideshow project2">
                <figure>
                  <%= image_tag("room/room1.JPG", :width=>"100%") %><figcaption>"Room"</figcaption> 
                  </figure>
                  <figure>
                   <%= image_tag("room/room2.JPG", :width=>"100%") %><figcaption>"Room"</figcaption> 
                  </figure>
                  <figure>
                   <%= image_tag("room/room3.JPG", :width=>"100%") %><figcaption>"Room"</figcaption> 
                  </figure>
                  <figure>
                   <%= image_tag("room/room4.JPG", :width=>"100%") %><figcaption>"Room"</figcaption> 
                  </figure>
                  <figure>
                   <%= image_tag("room/room5.JPG", :width=>"100%") %><figcaption>"Room"</figcaption> 
                  </figure>
                <span class="prev">&laquo;</span>
                <span class="next">&raquo;</span>
            </div> 

            <div class="diy-slideshow project3">
                <figure>
                   <%= image_tag("salon/salon1.JPG", :width=>"100%") %><figcaption>"Salon"</figcaption> 
                  </figure>
                  <figure>
                  <%= image_tag("salon/salon2.JPG", :width=>"100%") %><figcaption>"Salon"</figcaption> 
                  </figure>
                  <figure>
                  <%= image_tag("salon/salon3.JPG", :width=>"100%") %><figcaption>"Salon"</figcaption> 
                  </figure>
                  <figure>
                  <%= image_tag("salon/salon4.JPG", :width=>"100%") %><figcaption>"Salon"</figcaption> 
                  </figure>
                  <figure>
                  <%= image_tag("salon/salon5.JPG", :width=>"100%") %><figcaption>"Salon"</figcaption> 
                  </figure>
                <span class="prev">&laquo;</span>
                <span class="next">&raquo;</span>
            </div> 
           
        


    </section>
<!-- End Slideshow -->
    



    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to start your next project?</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i href="tel:+19192609484" class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p><a href="tel:+19192609484">Call Me!</a></p>
                </div>
                <div class="col-lg-4 text-center">
                    <i href="mailto:bssebast@gmail.com"class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:bssebast@gmail.com">Email Me!</a></p>
                </div>
                
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <% javascript_include_tag "jquery.js", :defer => "defer"  %>
    <!-- <script src="js/jquery.js"></script> -->

    <!-- Bootstrap Core JavaScript -->
    <% javascript_include_tag "bootstrap.min.js", :defer => "defer"  %>
    <!-- <script src="js/bootstrap.min.js"></script> -->

    <!-- Plugin JavaScript -->
    <% javascript_include_tag "jquery.easing.min.js", :defer => "defer"  %>
    <% javascript_include_tag "jquery.fittext.js", :defer => "defer"  %>
    <% javascript_include_tag "wow.min.js", :defer => "defer" %>
    <!-- <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script> -->

    <!-- Custom Theme JavaScript -->
    <% javascript_include_tag "creative.js", :defer => "defer" %>
    <% javascript_include_tag "index.js", :defer => "defer" %>
   <!--  <script src="js/creative.js"></script>
    <script src="js/index.js"></script> -->
 

</body>

</html>
